[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==4.1.*"
#django = "==5.*"
#django-cors-headers = "*"
django-allauth = "==0.51.*"
#django-allauth = "*"
#django-bootstrap-v5 = "==1.0.*"
django-bootstrap-v5 = "*"
#django-bootstrap5 = "==24.*"
psycopg2-binary = "*"
#psycopg2 = "*"
requests = "*"
djangorestframework = "*"
gunicorn = "==20.1.*"
#django-extensions = "*"
#werkzeug = "*"
#pyopenssl = "*"

[requires]
python_version = "3.10"
#python_version = "3.12"
