{% extends "web/base_nav_full.html" %}

{% block title %}Sorry{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="lead">Sorry...</p>
            </div>
            <div class="panel-body">
                <p>This service is currently being edited by someone else.  Please try again later.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

