
{% extends "services/base_nav_full.html" %}

{% block title %}Hosts{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th><a href="{% url 'services:hosts' 'hostname' %}">HOSTNAME
        {% if order_field == 'hostname' %}
        <span class="glyphicon glyphicon-chevron-down"></span>
        {% endif %}</a></th>
        <th><a href="{% url 'services:hosts' 'location__site' %}">SITE
        {% if order_field == 'location__site' %}
        <span class="glyphicon glyphicon-chevron-down"></span>
        {% endif %}</a></th>
        <th>IP ADDRESSES</th>
        <th><a href="{% url 'services:hosts' 'service__name' %}">SERVICE
        {% if order_field == 'service__name' %}
        <span class="glyphicon glyphicon-chevron-down"></span>
        {% endif %}</a></th>
        <th>LABEL</th>
        <th>QUALYS SCANNED</th>
        <th>NAGIOS CHECKED</th>
        <th>SYSLOG STANDARD</th>
        <th>SYSLOG RELP</th>
        <th><a href="{{ MISC_URLS.hs_tags }}" target="_blank">HOST TAGS</a></th>
    </tr>
    </thead>
    <tbody>
    {% for key, host in hosts.items %}
        {% if host.hostname %}
            <tr>
                <td>{{ host.hostname }}</td>
                <td>{{ host.site }}</td>
                <td>{{ host.ip }}</td>
                <td>
                {% for serv in host.service %}
                    {%if serv.deprecated == False %}
                        {{serv.name}}
                    {% else %}
                        <span style="color:#a9a9a9"><del> * {{serv.name}} * </del></span>
                        <small style="color:#d9534f;">DEPRECATED</small>
                    {% endif %}
                {% endfor %}

                </td>
                <td>{{ host.label }}</td>
                <td>{{ host.qualys| yesno }}</td>
                <td>{{ host.nagios| yesno }}</td>
                <td>{{ host.syslog_standard_10514| yesno }}</td>
                <td>{{ host.syslog_relp_10515| yesno }}</td>
                <td>{{ host.host_tags }}</td> <!-- host tags -->
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{{ host.host_tags }}


{% endblock %}
