{% extends "services/base.html" %}

{% block title %}Add Event{% endblock %}

{% block content %}


{% comment %}
<p>form errors</p>
<ul>
{% for iform in instance_formset %}
{% for field,errors in iform.errors.items %}
    {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {# <li>{{ error }}</li> #}
    {% endfor %}
{% endfor %}
{% endfor %}
</ul>

<p>Debug: {{ debug }}</p>
<p>service_id: {{ service_id }}</p>
{% endcomment %}


<form class="form-horizontal" role="form" 
    action="{% url 'services:add_event' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
            <label for="{{ field.id_for_label }}" 
                class="col-sm-2 col-sm-offset-1 control-label">
                {{ field.label }}:
            </label>
            <div class="col-sm-6">
                {{ field }}
                {% if field.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback">
                </span>
                {% endif %}
            </div>
            {% if field.errors %}
                <span class="error" style="color:#d9534f;">
                    {{ field.errors.0 }}</span>
            {% endif %}

        </div>
    {% endfor %}

    <div class="well well-lg" style="margin-top:10px;">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
        <input class="btn btn-primary" type="submit" value="Create New Event" />
        </div>
        <div class="col-sm-2">
            <a class="btn btn-default" href="{% url 'services:events' %}" 
                    role="button">Cancel</a>
        </div>
    </div>
    </div>

</form>
{% endblock %}
