{% extends "services/bootstrap.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Our application stuff #}
{% load static %}
{% load get_settings %}

{% block bootstrap5_content %}

{% block serviceindex_global_header %}
{{ block.super }}
{% endblock %}

<div class="container-fluid mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        {% if page == 'index' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:index' %}">
        {% endif %}Services</a></li>

        <li class="nav-item">
        {% if page == 'hosts' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:hosts' 'hostname' %}">
        {% endif %}Hosts</a></li>

        <li class="nav-item">
        {% if page == 'events' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:events' %}">
        {% endif %}Events</a></li>

        <li class="nav-item">
        {% if page == 'people' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:people' %}">
        {% endif %}People</a></li>

        <li class="nav-item">
        {% if page == 'export' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:export' %}">
        {% endif %}Export...</a></li>
            
        <li class="nav-item">
        {% if page == 'service' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:add_service' %}">
        {% endif %}Add New Service</a></li>

        <li class="nav-item">
        {% if page == 'view_log' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:view_log' %}">
        {% endif %}View Log</a></li>

        <li class="nav-item">
        {% if page == 'metrics' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:metrics' %}">
        {% endif %}Metrics</a></li>

        <li class="nav-item">
        {% if page == 'log_out' %}<a class="nav-link active" aria-current="page" href="#">
        {% else %}<a class="nav-link" href="{% url 'services:clear_and_logout' %}">
        {% endif %}Log Out ({{ user.username }})</a></li>
    </ul>
</div>

{# Display django.contrib.messages as Bootstrap alerts #}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

<div class="container" role="main">
{% block content %}
{% endblock %}
</div> <!-- container -->

{% endblock %}
