{% load static %}
{% load get_settings %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utk-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'services/css/bootstrap.min.css' %}" rel="stylesheet">
    {#<link href="{% static 'services/css/jquery-ui.css' %}" rel="stylesheet">#}
    <link href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
</head>

<body>
<style media="screen" type="text/css"></style>
    <div class="container" role="main">
    <div class="jumbotron">    
        <table style="min-width: 100%"><tr style="vertical-align: top;">
        <td><a href="https://operations.access-ci.org/" title="Operations Home" rel="home">
           <img src="/static/services/img/ACCS050322_ACCESS_Brand_Operations-RGB.png" alt="Home"/></a></td>
        <td style="vertical-align: top;"><h2 style="text-align: left; margin-top: 1px;">{{ app_name }}</h2></td>
        <td>{% settings_value "APP_VERSION" %}</td>
        </tr></table>
            <ul class="nav nav-pills">
                {% if page == 'index' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:index' %}">
                {% endif %}Services</a></li>
                
                {% if page == 'hosts' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:hosts' 'hostname' %}">
                {% endif %}Hosts</a></li>
                
                {% if page == 'events' %}<li class="active">
                {% else %}<li>
                {% endif %}<a href="{% url 'services:events' %}">Events</a></li>
                
                {% if page == 'people' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:people' %}">
                {% endif %}People</a></li>
                
                {% if page == 'export' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:export' %}">
                {% endif %}Export...</a></li>
                    
                {% if page == 'service' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:add_service' %}">
                {% endif %}Add New Service</a></li>
                
                {% if page == 'view_log' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:view_log' %}">
                {% endif %}View Log</a></li>
                
                {% if page == 'metrics' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:metrics' %}">
                {% endif %}Metrics</a></li>
                
                {% if page == 'log_out' %}<li class="active"><a href="#">
                {% else %}<li><a href="{% url 'services:clear_and_logout' %}">
                {% endif %}Log Out ({{ user.username }})</a></li>
            </ul>
    </div>

    {% block content %}
    {% endblock %}

    </div> <!-- container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'services/js/bootstrap.min.js' %}"></script>
    {#<script src="{% static 'services/js/jquery-ui.js' %}"></script>#}
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
