{% extends "web/base_nav_full.html" %}

{% block title %}Event Checklist{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Event Name: {{ event.name }}</h2>
        <p class="card-text">
            {{ event.description|linebreaks }}
        </p>
    </div>
    <div class="card-body">
                 
<table class="table table-striped">
    <thead><tr>
        <th>HOSTNAME</th>
        <th>IP ADDRESS</th>
        <th>STATUS LOG</th>
        <th></th>
    </tr></thead>
    <tbody style="font-size-adjust:0.5">
    {% for host in hosts %}
        {% if host.hostname %}
        <tr>
            <td class="col-sm-2">{{ host.hostname }}</td>
            <td class="col-sm-1">{{ host.ip }}</td>

            <td class="col-sm-6">
                {% if host.logs %}
                    {% for log in host.logs %}
                        <div class="row">
                        <div class="col-sm-3">
                            <p style="text-align:center;">
                            {% if forloop.last %}
                            <span class="label label-{{ host.label_type }}">
                            {% else %}
                            <span class="label label-default">
                            {% endif %}
                            {{ log.status|upper }}</span>
                            </p>
                        </div>
                        <div class="col-sm-7">
                        {{ log.timestamp|date:"Y/m/d H:i" }} {{ log.username }}: {{ log.note }}
                        </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                    <div class="col-sm-3">
                    <p style="text-align:center;">
                    <span class="label label-{{ host.label_type }}">
                        {{ host.status|upper }}</span>
                    </p>
                    </div></div>
                {% endif %}
                {% comment %}
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-{{ host.col }}">
                    <span class="label label-{{ host.label_type }}">
                        {{ host.status }}</span>
                    </div>
                </div>
                {% endcomment %}
            </td>
            <td class="col-sm-2">
                <a href="{% url 'services:update_event' host.hes_id %}"
                class="btn btn-outline-success" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Update</a>
            </td>

        </tr>
        {% comment %}
        {% if host.logs %}
            <tr><td>
                <ul>{% for log in host.logs %}
                    <li>{{ log.timestamp }} {{ log.status }}</li>
                    {% endfor %}
                </ul>
            </td></tr>
        {% endif %}
        {% endcomment %}

        {% endif %}
    {% endfor %}
    </tbody>
</table>

</div> <!-- card body -->
</div> <!-- card -->


{% endblock %}
