{% extends "services/base.html" %}

{% block title %}Export Choices{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'services:export' %}" 
        method="post">
    {% csrf_token %}
    <p><strong>Select fields to show for each service:</strong></p>
    <div class="form-group">
        <div class="col-sm-10">
        {% for field in service_fields %}
            <label class="checkbox-inline">
                {{ field }} {{ field.label }}
            </label>
        {% endfor %}
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-default"
                id="first_row">SELECT ALL</button>
        </div>
    </div>
    <p><strong>Select fields to show for each host of each service:
        </strong></p>
    <div class="form-group">
        <div class="col-sm-10">
        {% for field in host_fields %}
            <label class="checkbox-inline">
                {{ field }} {{ field.label }}
            </label>
        {% endfor %}
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-default"
                id="second_row">SELECT ALL</button>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Generate Listing" />
</form>

{% endblock %}

{% block scripts %}
<!-- a little jquery for 'select all' -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#first_row").click(function(event) {
            if($(this).text() == 'SELECT ALL') {
                $(this).text('DESELECT ALL');
                $('.first_row').each(function() {
                    this.checked = true;
                });
            }
            else {
                $(this).text('SELECT ALL');
                $('.first_row').each(function() {
                    this.checked = false;
                });
            }
        });
        $("#second_row").click(function(event) {
            if($(this).text() == 'SELECT ALL') {
                $(this).text('DESELECT ALL');
                $('.second_row').each(function() {
                    this.checked = true;
                });
            }
            else {
                $(this).text('SELECT ALL');
                $('.second_row').each(function() {
                    this.checked = false;
                });
            }
        });
    });
</script>

{% endblock %}

