{% extends "services/base_nav_full.html" %}

{% block title %}Metrics{% endblock %}

{% block content %}

<h1>{{ debug }}</h1>
<form action="{% url 'services:metrics' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="row mb-3 form-group{% if field.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align: right">
            <label for="{{ field.id_for_label }}"
                class="col-form-label">
                {{ field.label }}:
            </label>
        </div>
        <div class="col-md-2 col-sm-4">
            {{ field }}
            {% if field.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback"/>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="offset-md-2">
        <input class="btn btn-primary" type="submit" value="Refresh" />
    </div>
</form>

<div style="height:30px;"></div>

<div class="card text-left col-md-6">
    <div class="card-header"><h5>{{ heading }}</h5></div>
    <div class="card-body">
        <table class="table mb-0">
            <tr>
                <th>Updates to Services</th>
                <td style="text-align:right;">{{ updates }}</td>
            </tr>
            <tr>
                <th>New Services Added</th>
                <td style="text-align:right;">{{ new_services }}</td>
            </tr>
            <tr>
                <th>New Hosts Added</th>
                <td style="text-align:right;">{{ new_hosts }}</td>
            </tr>
            <tr>
                <th>Services Deprecated</th>
                <td style="text-align:right;">{{ deprecations }}</td>
            </tr>
        </table>
    </div><!-- div card-body -->
</div><!-- div card -->

<div style="height:30px;"></div>

<div class="card text-left col-md-6">
    <div class="card-header"><h5>Current Totals</h5></div>
    <div class="card-body">
        <table class="table mb-0">
            <tr>
                <th>Services</th>
                <td style="text-align:right;">{{ total_services }}</td>
            </tr>
            <tr>
                <th>Hosts</th>
                <td style="text-align:right;">{{ total_hosts }}</td>
            </tr>
        </table>
    </div><!-- div card-body -->
</div><!-- div card -->

{% endblock %}

{% block page_extra_scripts %}
<!-- attach datepicker to form fields -->
<script type="text/javascript">
$(document).ready(function(){
    $("#id_start_date").datepicker();
    $("#id_end_date").datepicker();
});
</script>

{% endblock %}

