{% extends "services/base_nav_full.html" %}

{% load get_settings %}

{% block title %}Edit Service{% endblock %}

{% block content %}

{% comment %}
<p>form errors</p>
<ul>
{% for iform in host_formset %}
{% for field,errors in iform.errors.items %}
    {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {# <li>{{ error }}</li> #}
    {% endfor %}
{% endfor %}
{% endfor %}
</ul>

<p>Debug: {{ debug }}</p>
<p>service_id: {{ service_id }}</p>
{% endcomment %}

<form role="form"
    action="{% url 'services:update_service' %}" method="post">
    {% csrf_token %}

    {# hidden field for service_id; will be 0 if adding new #}
    <input name="service_id" type="hidden" value="{{ service_id }}" />

    {% for field in form %}
    <div class="row mb-2 form-group{% if field.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ field.id_for_label }}" class="col-form-label">
                {{ field.label }}:
            </label>
        </div>
        <div class="col-md-6">
            {{ field }}
            {% if field.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback">
            </span>
            {% endif %}
        </div>
        {% if field.errors %}
            <span class="error" style="color:#d9534f;">
                {{ field.errors.0 }}</span>
        {% endif %}
    </div>
    {% endfor %}


    </br><p>LINKS:</p>
    {{ link_formset.management_form }}
    {% for lform in link_formset %}
    <!--  hidden fields MUST be included -->
    {{ lform.id }}
 
    <div class="card">
        <div class="card-body">
            <input name="service" type="hidden" value="{{ service_id }}" />
            <span class="badge bg-dark">LINK</span>
            <div class="row mb-1 form-group{% if lform.url.errors %} has-error has-feedback{% endif %}">
                <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label for="{{ lform.url.id_for_label }}" class="col-form-label">
                        URL:
                    </label>
                </div>
                <div class="col-md-6">
                    {{ lform.url }}
                    {% if lform.url.errors %}
                    <span class="glyphicon glyphicon-remove form-control-feedback">
                    </span>
                    {% endif %}
                </div>
                {% if lform.url.errors %}
                    <span class="error" style="color:#d9534f;">
                        {{ lform.url.errors.0 }}</span>
                {% endif %}
            </div>
            <div class="row mb-1 form-group{% if lform.description.errors %} has-error has-feedback{% endif %}">
                <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label for="{{ lform.description.id_for_label }}" class="col-form-label">
                        Description:
                    </label>
                </div>
                <div class="col-md-6">
                    {{ lform.description }}
                    {% if lform.description.errors %}
                    <span class="glyphicon glyphicon-remove form-control-feedback">
                    </span>
                    {% endif %}
                </div>
                {% if lform.description.errors %}
                    <span class="error" style="color:#d9534f;">
                        {{ lform.description.errors.0 }}</span>
                {% endif %}
            </div>
            {% if link_formset.can_delete %}
            <div class="row mb-1 form-group">
                <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label class="col-form-label">DELETE?</label>
                </div>
                <div class="col-md-6">{{ lform.DELETE }}</div>
            </div>
            {% endif %}
        </div> <!-- card-body -->
    </div> <!-- card -->
    {% endfor %}
    
    <div class="row mt-1">
        <div class="offset-md-2">
            <button type="submit" class="btn-sm btn-outline-dark" name="add_link">
                <span class="glyphicon glyphicon-plus"></span>
                Add Another Link
            </button>
        </div>
    </div>

    </br><p>HOSTS:</p>
    {{ host_formset.management_form }}
    {% for hform in host_formset %}
    <!--  hidden fields MUST be included -->
    {{ hform.id }}
    
    <div class="card">
        <div class="card-body">
            <input name="service" type="hidden" value="{{ service_id }}" />
            <span class="badge bg-dark">HOST</span>
            <div class="row mb-1">
                 <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label for="{{ hform.label.id_for_label }}" class="col-form-label">
                        Label:
                        {% if hform.label.errors %}
                        <span style="color:#d9534f;">(Required)</span>
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-2">
                    {{ hform.label }}
                </div>

                <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label for="{{ hform.availability.id_for_label }}" class="col-form-label">
                        Availability:
                    </label>
                </div>
                <div class="col-sm-2">{{ hform.availability }}</div>
                
                <div class="col-md-2" style="text-align:right; vertical-align:middle">
                    <label for="{{ hform.support.id_for_label }}" class="col-form-label">
                        Support:
                    </label>
                </div>
                <div class="col-md-2">{{ hform.support }}</div>
            </div>
                
        
    <div class="row mb-2 {% if hform.location.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label class="col-form-label">
                Location:
            </label>
        </div>
        <div class="col-md-4">
            Select from existing:
            {% if hform.location.errors %}
            <span style="color:#d9534f;">(Required)</span>
            {% endif %}
            {{ hform.location }}
        </div>
        <div class="col-md-4">
            or enter new location:
            {{ hform.location_new }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.hostname.id_for_label }}" class="col-form-label">
                Hostname:
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.hostname }}
        </div>
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ ifhrm.ip_addresses.id_for_label }}" class="col-form-label">
                IP Addresses ({IP}, {IP}):
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.ip_addresses }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.qualys.id_for_label }}" class="col-form-label">
                Scanned by Qualys:
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.qualys}}
        </div>
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.nagios.id_for_label }}" class="col-form-label">
                Checked by Nagios:
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.nagios }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.qualys.id_for_label }}" class="col-form-label">
                Syslog standard 10514:
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.syslog_standard_10514}}
        </div>
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.nagios.id_for_label }}" class="col-form-label">
                Syslog RELP 10515:
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.syslog_relp_10515 }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.host_last_verified.id_for_label }}" class="col-form-label">
                Host last verified:
                {% if hform.host_last_verified.errors %}
                <span style="color:#d9534f;">$$$${{hform.host_last_verified}}$$$</span>
                {% endif %}
            </label>
        </div>
        <div class="col-md-3">
            {{ hform.host_last_verified}}
        </div>
    </div>
    <div class="row mb-2{% if hform.sys_admin.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.sys_admin.id_for_label }}" class="col-form-label">
                Sys Admin:
            </label>
        </div>
        <div class="col-md-4">
            Select from existing:
            {% if hform.sys_admin.errors %}
            <span style="color:#d9534f;">(Required)</span>
            {% endif %}
            {{ hform.sys_admin }}
        </div>
        <div class="col-md-4">
            or enter new "last, first" name:
            {{ hform.sys_admin_name }}
            {{ hform.sys_admin_email }}
            {{ hform.sys_admin_phone }}
        </div>
    </div>
    <div class="row mb-2{% if hform.poc_primary.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.poc_primary.id_for_label }}" class="col-form-label">
                Primary POC:
            </label>
        </div>
        <div class="col-md-4">
            Select from existing:
            {% if hform.poc_primary.errors %}
            <span style="color:#d9534f;">(Required)</span>
            {% endif %}
            {{ hform.poc_primary }}
        </div>
        <div class="col-md-4">
            or enter new "last, first" name:
            {{ hform.poc_primary_name }}
            {{ hform.poc_primary_email }}
            {{ hform.poc_primary_phone }}
        </div>
    </div>
    <div class="row mb-2{% if hform.poc_backup.errors %} has-error has-feedback{% endif %}">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.poc_backup.id_for_label }}" class="col-form-label">
                Backup POC:
            </label>
        </div>
        <div class="col-md-4">
            Select from existing:
            {% if hform.poc_backup.errors %}
            <span style="color:#d9534f;">(Required)</span>
            {% endif %}
            {{ hform.poc_backup }}
        </div>
        <div class="col-md-4">
            or enter new "last, first" name:
            {{ hform.poc_backup_name }}
            {{ hform.poc_backup_email }}
            {{ hform.poc_backup_phone }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.host_tags.id_for_label }}" class="col-form-label">
                <a href = "{{ TAGS_LOC }}" target="_blank">Host Tags</a> ({tag}, {tag}):
            </label>
        </div>
        <div class="col-md-6">
            {{ hform.host_tags }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label for="{{ hform.note.id_for_label }}" class="col-form-label">
                Note:
            </label>
        </div>
        <div class="col-md-6">
            {{ hform.note }}
        </div>
    </div>
<!--    {% if hform.label.value is not empty %}-->
<!--    <div class="col-md-offset-3"  style="color:red;">-->
<!--        <input type="submit" name="remove_host" value="Remove {{ hform.label.value }}" />-->
<!--    </div>-->
<!--    {% endif %}-->
    {% if host_formset.can_delete %}
    <div class="row mb-2">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label class="col-form-label">DELETE?</label>
        </div>
        <div class="col-md-6">{{ hform.DELETE }}</div>
    </div>
    {% endif %}
    
    </div> <!-- panel-body -->
    </div> <!-- panel -->
    {% endfor %}

    {% comment %}
    <div class="field_row">
        <div class="field">
        <span>{{ field.label_tag }}</span>
        {{ field }}
        {% if field.errors %}
        <span class="error">{{ field.errors.0 }}</span>
        {% endif %}
        </div>
    </div>
    {% endcomment %}
    <div class="row mt-1">
        <div class="offset-md-2">
            <button type="submit" class="btn-sm btn-outline-dark" name="add_host">
                <span class="glyphicon glyphicon-plus"></span>
                Add Another Host
            </button>
        </div>
    </div>

    {% if privileged %}
    <div class="row mt-4">
        <div class="col-md-2" style="text-align:right; vertical-align:middle">
            <label>
                <b>Deprecated:</b>
            </label>
        </div>
        <div class="col-md-6">
            <input name="deprecated" type="checkbox" />
            &nbsp;(marks service and associated hosts as inactive)
        </div>
    </div>
    {% endif %}
    
    <div class="row mt-4">
        <div class="col-2">
            <a class="btn btn-secondary" href="{% url 'services:index' %}" role="button">Cancel</a>
        </div>
        <div class="col-2">
            {% if service_id == 0 %}
            <input class="btn btn-primary" type="submit" value="Add Service" />
            {% else %}
            <input class="btn btn-primary" type="submit" value="Save" />
            {% endif %}
        </div>
    </div> <!-- row -->
 
</form>
{% endblock %}

{% block page_extra_scripts %}
<!-- attach datepicker to date fields -->
<script type="text/javascript">
$(document).ready(function(){
    $("#id_service-failover_last_tested").datepicker();
    $("#id_service-service_last_verified").datepicker();
    $("[id$=last_verified").datepicker();
});
</script>

{% endblock %}
