{% extends "web/base_nav_full.html" %}

{% block title %}View Log{% endblock %}

{% block content %}
<h5>Timestmaps are in UTC</h5>
<p style="font-size: 12px">
{% for le in log %}
    {# format: Jul 01, 2014 4:42 p.m. #}
    <b>{{ le.timestamp|date:"Y-m-d H:i" }} {{ le.username }}:</b>
    {% if le.service %}
        &nbsp;service='{{ le.service }}'
    {% endif %}
    {% if le.host %}
        &nbsp;host='{{ le.host }}'
    {% endif %}
    {% if le.staff %}
        &nbsp;staff='{{ le.staff }}'
    {% endif %}
    {% if le.event %}
        &nbsp;event='{{ le.event }}'
    {% endif %}
    &nbsp;{{ le.msg }}</br>
    {# format: Tue, 1 Jul 2014 16:42:33 -0400 #}
    {#<li><b>{{ le.timestamp|date:"r" }}</b> {{ le.msg }}</li>#}
{% endfor %}
</p>
{% endblock %}
