{% extends "services/base_nav_none.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load get_settings %}

{% block title %}Operations Service Index Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card text-center" style="width: 32rem; height: 8rem">
            <div class="card-header"><p class="lead">Login required</p></div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="primaryAction btn btn-access-auth" type="submit">{% trans "Login to ACCESS CI" %}</button>
                </form>
            </div><!-- div card-body -->
        </div><!-- div card -->
    </div><!-- col -->
</div><!-- row -->

<div class="row text-left mt-4">
    <a href="https://operations.access-ci.org/online_services/service_index" class="access-paragraph" target="_blank">About this service and how to request access</a>
</div>
{% endblock %}
